@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 135px;
    height: auto;
}

.logoGE {
    width: 50px;
}

.logoContainer {
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
}

button {
    margin: .5rem;
    width: 100px;
    appearance: none;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
    border-width: 1px;
    border-radius: 22px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
    border-color: #402954;
    background-color: #402954;
    cursor: pointer;
    transition: .2s ease-in-out;
    -webkit-box-shadow: 4px 4px 11px -7px #000000;
    box-shadow: 4px 4px 11px -7px #000000;
}

button:hover {
    width: 115px;
}

button:active {
    background-color: #7c6a8c;
    color: #000000;
}